<h1>Friends Index</h1>
{{! The content here is a controller}}
<h2>Total friends: {{model.length}} </h2>

<ul>
  {{#each friend in model}}
    <li>
      {{#link-to 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
